body {
    padding-top: 60px;
}

nav {
    background: #f5b335;
    height: 60x;
    position: fixed;
    top: 0;
    transition: top 0 ease-in-out;
    width: 100%;
}

.nav-up {
    top: -60px;
}

.jumbotron{
  height: 200px;
  width:100%;
  border: solid ;
}